:root{
    --element-padding:5px;



    --canvas-screen-left:50px;
    --canvas-screen-top:50px;

    
    --project-height:100px;
    --project-width:100px;
    --project-zoom:1;
}


body{
    background-color:rgb(30,30,30);
    font-family:"Arial";
    user-select:none;
    overflow:hidden;
}
canvas{
    background-color:rgb(100,100,100);
    transform:scale(var(--project-zoom));
    backface-visibility:hidden;
    image-rendering:pixelated;
    transform-origin:0px 0px;
}
#brush{
    display:none;
}
.settings-holder{
    background-color:rgb(50,50,50);
    border:1px solid rgb(10,10,10);
    position:absolute;
    height:30px;
    width:300px;
    left:5px;
    top:0px;

    justify-content:flex-start;
    align-items:center;
    display:flex;
}
input[type=number]{
    border:1px solid black;
    margin-left:5px;
    height:20px;
    width:100px;
}
input[type=color]{
    border:none;
    background-color:white;
    margin-left:5px;
}
.eraser{
    background-color:rgb(200,0,0);
    border:1px solid black;
    margin-left:5px;
    height:22px;
    width:100px;

    justify-content:center;
    align-items:center;
    cursor:pointer;
    display:flex;
}


.canvas-screen{
    height:calc(100% - var(--canvas-screen-top) - var(--element-padding) - 50px);
    width:calc(100% - var(--canvas-screen-left) - var(--element-padding) - 50px);
    left:var(--canvas-screen-left);
    top:var(--canvas-screen-top);
    position:absolute;



    background-color:rgba(100,100,100,0.5);
}
.canvas-holder{
    height:calc(var(--project-height) * var(--project-zoom));
    width:calc(var(--project-width) * var(--project-zoom));
    border:1px solid rgb(10,10,10);
    transform:translate(-50%,-50%);
    max-height:calc(100% - 2px);
    max-width:calc(100% - 2px);
    position:absolute;
    left:50%;
    top:50%;
}